/* CSS/styles.css */

body {
    margin: 0;
    background: #141414;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.question {
    text-align: center;
    margin-bottom: 20px;
}

.question h2 {
    font-size: 48px;
    margin: 10px 0;
    font-weight: 700;
}

.answers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.answer-card {
    flex: 1; 
    margin: 0 10px; 
    padding: 20px; 
    border-radius: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer; 
    transition: background 0.3s; 
}
.question {
    font-size: 24px; 
    color: #D9D9D9; 
}

.question-number {
    font-size: 24px;
    color: #D9D9D9;
}

.answer-card:hover {
    filter: brightness(1.1); 
}

.antwoord1 {
    background-color: rgba(109, 176, 85, 0.7); /* Groen*/
}

.antwoord2 {
    background-color: rgba(255, 221, 51, 0.7); /* Geel*/
}

.antwoord3 {
    background-color: rgba(217, 102, 102, 0.7); /* Rood*/
}

/* Cirkel styling */
.circle {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    position: absolute; 
    left: 20px; 
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 98px;
    height: 95px;
    position: relative;
    background: transparent;
}

.inner-circle div {
    background: #141414;
    border-radius: 9999px;
    position: absolute;
}
