/* CSS/styles.css */

body {
    margin: 0;
    background: #141414;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgb(0, 0, 0);
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 

    
    flex-direction: column; 
  
   
    
}

.question {
    text-align: center;
    margin-bottom: 20px;
}

.question h2 {
    font-size: 36px;
    margin: 10px 10px;
    font-weight: 500;
}

.answers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    color: #D9D9D9; 
}

.answer-card {
    flex: 1; 
    margin: 0 10px; 
    padding: 20px; 
    border-radius: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer; 
    transition: background 0.3s; 
    
}
.question {
    font-size: 56px;
    font-weight: 600;
    margin: 10px 10px; 
    color: #D9D9D9; 
}

.question-number {
    font-size: 24px;
    color: #D9D9D9;
}

.answer-card:hover {
    filter: brightness(2.1); 
}

.antwoord1 {
    background-color: rgba(109, 176, 85, 0.7); /* Groen*/
}

.antwoord2 {
    background-color: rgba(255, 221, 51, 0.7); /* Geel*/
}

.antwoord3 {
    background-color: rgba(217, 102, 102, 0.7); /* Rood*/
}